  body {
    width: 924px;
    margin: 0px auto;
    background-color: #efefef;
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 50px;
  }
  
  .cnt {
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    background: white;
    height: 325px;
  }
  
  h4 {
    margin: 0px;
    padding: 12px 0px 4px 12px;
  }
  
  p {
    margin: 0px;
    padding: 10px;
  }
  
  .text {
    margin: 8px 0px 11px 10px;
    padding-bottom: 13px;
  }
  
  .chrome {
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    width: 583px;
    float: right;
    background-color: #efefef;
    margin: 8px 8px 0px 0px;
  }
  
  .img {
    float: left;
    margin: 23px 0px 7px 48px;
  }
  
  .list {
    text-align: center;
    position: relative;
  }
  
  span {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 7px;
    margin: 0px 3px;
  }
  
  .clearfix {
    clear: both;
  }
  
  hr {
    color: #efefef;
    margin: 10px 10px 5px 10px;
  }
  
  .left {
    width: 26px;
    height: 24px;
    background-image: url(../../../../Group_F-16-02/04.10.2016/slider_navi.png);
    background-position: 0px 0px;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    position: absolute;
    left: 12px;
    bottom: -33px;
  }
  
  .right {
    width: 26px;
    height: 24px;
    background-image: url(../../../../Group_F-16-02/04.10.2016/slider_navi.png);
    background-position: 26px 0px;
    margin-right: 13px;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    position: absolute;
    left: 883px;
    bottom: -32px;
  }
  
  .uls {
    position: absolute;
    left: 305px;
    bottom: -26px;
  }
  
  span:hover {
    border: 1px solid gray;
    background: grey;
    border-radius: 5px;
    padding: 5px 7px;
    text-align: center;
    color: #efefef;
  }