@keyframes box {
  from {
    left: 0;
  }
  to {
    left: 500px;
  }
}


/*
p .t {
	font-family: monospace;
	
}

div .inside{
	font-weight: bold;
	font-variant: small-caps;
}
.first {
	font-style: italic;
}

body {
  font: 18px/25px 'Times New Roman', serif;
  position: absolute;
}


/*.list {
	list-style-type: upper-roman;
}
.list {
	list-style-image: url('../img/ok.png');
	list-style-position: inside;
}
.list {
	list-style: upper-roman outside url('../img/ok.png');
}
.list {
	list-style-type: square;
}

.border {
  width: 500px;
  height: 500px;
  border: 1px solid brown;
  position: relative;
  border-radius: 0px 250px 0px 250px;
  background-color: gold;
}

.border2 {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  position: absolute;
  top: 85px;
  left: 40px;
}

.img {
  opacity: 0.8;
  /*transform: scale(2, 2);*/


/*transform: matrix(1, 0, 0, 1, 0, 0);

}

.newImg {
  width: 115px;
  border: 1px solid black;
  overflow: hidden;
}

.wtf {
  width: 300px;
  height: 200px;
  border: 3px solid green;
  overflow-y: scroll;
  box-shadow: inset 7px 3px 100px 5px green;
  margin-bottom: 50px;
}

.shadow {
  text-shadow: 1px 1.5px 7px black;
}

.trans {
  width: 200px;
  height: 50px;
  margin-bottom: 200px;
  background-color: black;
  transition: all 4s linear;
}

.trans:hover {
  width: 600px;
  height: 100px;
  background-color: aliceblue;
}

.gradient {
  width: 600px;
  height: 600px;
  border: 1px solid grey;
  background: linear-gradient(45deg, grey, black);
}

.gradient-repeat {
  width: 600px;
  height: 600px;
  border: 1px solid grey;
  
}

.gradient {
  transform: translate(50px, 100px)
}

.rotate {
  transform: rotate(45deg);
  transform-origin: 100% 20%;
  transform: skewX(50deg);
}

.animationImg {
  animation-name: box;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  position: relative;
}

.animationImg:hover {
  animation-play-state: paused;
  cursor: pointer;
}*/

.afterBefore {
  width: 250px;
  height: 250px;
  border: 1px;
  background-color: aquamarine;
  position: relative;
}

.afterBefore:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 15px;
  width: 50px;
  height: 50px;
  background-color: aliceblue;
}

.common {
  border: 1px solid black;
  width: 600px;
  height: 300px;
}

.left {
  border: 5px solid red;
  width: 200px;
  height: 200px;
  float: left;
}

.right {
  border: 5px solid green;
  width: 200px;
  height: 200px;
  float: right;
}

.common:after {
  content: '';
  clear: both;
  display: block;
}

.timer {
  width: 800px;
  margin: 0 auto;
}

.shad {
  width: 100px;
  height: 130px;
  border: 5px solid white;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 2px black, inset 3px 3px 20px 4px black;
  display: inline-block;
  font-size: 90px;
  margin: 10px;
  text-align: center;
}

.colon {
  font-size: 90px;
  display: inline-block;
}

.marker {
  background-color: cadetblue;
}

.wbr {
  width: 300px;
  border: solid 1px red;
}

.hello {
  margin: 30px;
  padding: 20px;
  width: 200px;
  height: 200px;
  border: solid black 5px;
  box-sizing: border-box;
}

.text {
  width: 75px;
  border: solid 1px black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 80px;
}

.text:hover {
  width: 520px;
  border: solid 1px black;
  white-space: normal;
}

dialog {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border: solid;
  background: white;
  color: black;
}
